.aws-sam/
__pycache__/
.git
tests
pyenvunittests
.coverage
coverage.xml
todo-list-aws/
.cache/
.pytest_cache/
./bin
./include
./lib
./lib64
./share
pyvenv.cfg
.test/unit/TestToDo_orig.py
./src/todoList_orig.py